<div class = "columns is-centered mt-6">
    <div class = "column is-half">  
        <h1 class = "is-size-2 has-text-weight-bold mb-3"><%= @article.name %></h1>

        <div class = "content">
        <%= @article.body %>
        </div>

        <%= link_to 'Back to Articles', articles_path, class: "button" %>
    </div>
</div>